$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

.test-canvas-background {
  // border: 2px solid gray;
  height: auto;
  width: auto;
  // max-height: 5000px;
  // max-width: 5000px;
  // background-image: url('http://www.paulcbrunson.com/wp-content/uploads/2014/01/SmilingSelfie.jpg');
  // background-size: contain;
  background-repeat: no-repeat;

  canvas {
    border: 1px solid red;
    height: 100%;
    width: 100%;
  }
}
